.login-wrapper {
    display: flex;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    overflow: hidden
  }

  .Fondo {
    background-image: url("../../../assets/Loginfondo@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: fixed;
  }

.form-wrapper { //.body
    margin: auto;
    width: 80%;
    height: 80%;
    background-image: linear-gradient(-90deg, white, #ffffffb3);
    z-index: 1;
    border-radius: 20px;
  }

.wrapper { //.login
    display: flex;
    justify-content: center;//
    align-items: center;
    flex-direction: column;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px;
  }

  #formContent {
    width: 80%;
    height: 90%;
    padding: 0;
    text-align: center;
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }

  .full-screen {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }


.boton {    
    background-color: dodgerblue;
    height: 50px;
}

.spinner{
    margin: 0 auto;    
}

/*Esto es para implementar mobile-first y pasar al desktop*/
@media (min-width: 700px) {
    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .form-wrapper {
      margin: 0;
      margin-left: auto;
      width: 38%;
      height: 100%;
      background-image: linear-gradient(-90deg, white, #ffffffb3);
      z-index: 1;
      border-radius: unset;
    }
    #formContent {
      width: 70%;
      /*height: 90%;*/
      height: 930px;
      padding: 0;
      text-align: center;
      margin: auto;
      display: flex;
      flex-direction: column;
    }
  }