/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    margin-left: 50px;
    margin-right: 50px;    
}

img {
    height: 120px;
    width: 100px;
}